# python
**/__pycache__/
.vscode

# secrets
.secrets

# debug files
test.py
src/o_startlist_creator/DEBUG
frontend_communication
*/DEBUG
*debug*

# enviroments
.direnv
.envrc

#logging
staging.log

# enviroment variables
.env

